<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <link rel="stylesheet" href="css/styles.css">
  <link rel="shortcut icon" href="favicon/favicon.ico">
  <link rel="icon" type="image/gif" href="favicon/animated_favicon1.gif">
</head>

<body>
